<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pre-Kg</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
      crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
		crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
		crossorigin="anonymous"></script>
		

<link rel="icon" type="image/jpg" class="img-fluid" th:href = "@{/img/icon.jpg}">
</head>

<body>
    <div class = "logo">
		<img src="../static/img/logo.png" class="img-fluid" th:src="@{img/logo.png}"/>
    </div><br>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary" style = "margin-top : 20px; max-height : 45px; margin-left : 20px; margin-right : 20px;">
        <img th:src = "@{/img/icon.jpg}" alt = "logo" style = "width : 30px;" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" style = "color : white; margin-left : 10px;" href="/"><b>Home</b><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style = "color : white" href="#"><b>Features</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style = "color : white" href="#"><b>Pricing</b></a>
            </li>
          </ul>
        </div>
      </nav>

    <h2 style = "text-align : center; padding-top : 30px; padding-bottom: 30px;"><strong>NUMBER SYSTEM</strong></h2>
    <div style = "padding-left: 20px; padding-right: 20px; padding-top : 20px; max-height : 400px;">
        <div class="embed-responsive embed-responsive-16by9" style = "width : 500px;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ku4KOFQ-bB4"></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9" style = "width : 500px; position: relative; bottom : 281px; right : -806px; ">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cLP7INqs3JM"></iframe>
        </div>
    </div>
    <hr>

    <h2 style = "text-align : center; padding-top : 30px; padding-bottom: 30px;"><strong>ALGEBRA</strong></h2>
    <div style = "padding-left: 20px; padding-right: 20px; padding-top : 20px; max-height : 400px;">
        <div class="embed-responsive embed-responsive-16by9" style = "width : 500px;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bAerID24QJ0"></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9" style = "width : 500px; position: relative; bottom : 281px; right : -806px; ">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vDqOoI-4Z6M"></iframe>
        </div>
    </div>
    <hr>

    <h2 style = "text-align : center; padding-top : 30px; padding-bottom: 30px;"><strong>STATISTICS</strong></h2>
    <div style = "padding-left: 20px; padding-right: 20px; padding-top : 20px; max-height : 400px;">
        <div class="embed-responsive embed-responsive-16by9" style = "width : 500px;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/h8EYEJ32oQ8"></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9" style = "width : 500px; position: relative; bottom : 281px; right : -806px; ">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E4HAYd0QnRc"></iframe>
        </div>
    </div>
    <hr>

    <h2 style = "text-align : center; padding-top : 30px; padding-bottom: 30px;"><strong>PROBABILITY</strong></h2>
    <div style = "padding-left: 20px; padding-right: 20px; padding-top : 20px; max-height : 400px;">
        <div class="embed-responsive embed-responsive-16by9" style = "width : 500px;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uzkc-qNVoOk"></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9" style = "width : 500px; position: relative; bottom : 281px; right : -806px; ">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RdehfQJ8i_0"></iframe>
        </div>
    </div>
    <hr>

</body>
</html>